@model DayPeriodViewModel;

<div class="day-period">
    <div class="period-name">@Model.PeriodName</div>
    <div class="image">
        <img src="@Model.ImageUrl"/>
    </div>
    <div class="temperature">@Model.TemperatureFrom/@Model.TemperatureTo</div>
</div>