@model WeatherViewModel;

<div id="weather" class="weather rectangle">
    @if (Model != null)
    {
        <img class="weather__image_size_m" src="@Model.ImageUrl" />
        <div class="data">
            <div class="short">
                <div class="weather__temperature_size_m">@Model.Temperature</div>
                <div class="weather__description">@Model.Description</div>
            </div>
            <div class="line"></div>
            <div class="details">
                @foreach (var item in Model.Periods)
                {
                    @Html.Partial("_WeatherPeriod", item);
                }
            </div>
        </div>
    }
</div>
