@model DayPeriodViewModel;

<div class="day-part">
    <div class="day-part__name">@Model.PeriodName</div>
    <img class="weather__image_size_s" src="@Model.ImageUrl" />
    <div class="weather__temperature_size_s">@Model.TemperatureFrom/@Model.TemperatureTo</div>
</div>