@model WeatherViewModel;

<div id="weather" class="weather rectangle">
    @if (Model != null)
    {
        <div class="data">
            <div class="short">
                <img class="weather__image_size_m" src="@Model.ImageUrl" />
                <div class="weather__temperature_size_m">@Model.Temperature&deg;</div>
                <div class="weather__description">
                    <label>Погода:</label>
                    @Model.Description
                </div>
            </div>
            <hr class="line" />
            <div class="details">
                @foreach (var item in Model.Periods)
                {
                    @Html.Partial("_WeatherPeriod", item);
                    <div class="clear"></div>
                }
            </div>
        </div>
    }
</div>
