@model IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <img class="logo" src="~/images/uklon-logo.png" />
    <div class="condition">
        @Html.DropDownList("Countries", Model.Countries, new { @id = "countries", @class = "condition__filter form-control" })
        <div class="clear"></div>
        @Html.DropDownList("Towns", Model.Towns, new { @id = "towns", @class = "condition__filter form-control" })
    </div>
</div>
<div class="clear"></div>
<div class="content">
    @Html.Partial("_Traffic", Model.TrafficDetails)
    <div class="clear"></div>
    @Html.Partial("_Weather", Model.WeatherDetails)
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/js/WT/Index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/WT/Index.min.js"></script>
    </environment>
}
