@model TrafiсViewModel;

<div class="trafic-content">
    <div class="trafic-stage">@Model.Stage</div>
    <div class="trafic-region">@Model.RegionName</div>
    <div class="trafic-date">@Model.Date</div>
    <div class="trafic-description">@Model.Description</div>
</div>