@model WeatherViewModel;

<div class="weather-content">
    <div class="weather-logo">
        <div class="weather-logo-header"></div>
        <div class="weather-logo-footer"></div>
    </div>
    <div class="weather-data">
        <div class="weather-data-short">
            <div class="weather-data-short-temperature"></div>
            <div class="weather-data-short-description"></div>
        </div>
        <div class="line"></div>
        <div class="weather-data-details">
            @foreach(var item in Model.Periods)
            {
                @Html.Partial("_WeatherPeriod", item);
            }
        </div>
        
    </div>
    
</div>